{% extends '@App/main.html.twig' %}

{% block main %}

    {% for product in products %}
        <div class="col-md-7" style="background-color: #eeeeee; padding: 15px; margin: 10px">
            <img height="50" src="{{ product.fullPathImage }}">
            <span>{{ product.description }}</span>
            <div>{{ product.price|e }}</div>
            <button class="btn btn-primary buy" data-action="{{ path('add_product', {'id': product.id}) }}">Buy!</button>
        </div>
        
    {% endfor %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/basket.js') }}"></script>
{% endblock %}